@import './../../../src/app/text-styles.scss';

.blog__section-image {
  height: auto;
  width: 460px;
}
.blog__article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 40px;
  padding-right: 40px;
  gap: 5vw;
}
.blog__info {
  max-width: 50%;
}
.blog__time {
  color: #b5b0b0;
}
.blog__title {
  @extend %subtitle-font;
  margin: 0px;
  padding-bottom: 1vw;
}
.blog__text {
  @extend %text-font;
}
@media (width < 960px) {
  .blog__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    max-width: 640px;
    padding: 0 45px;
  }
  .blog__section-image {
    height: auto;
    width: 100%;
  }
  .blog__info {
    max-width: 100%;
  }
  .blog__title {
    padding-bottom: 28px;
  }
}
@media (width< 640px) {
  .blog__text {
    line-height: 1.55;
    font-size: 16px;
  }
}

@media (width>1100px) {
  .blog__article {
    justify-content: center;
  }
}
