@import '../text-styles';

.about {
  width: 100%;
  display: grid;
  justify-items: center;
  gap: 20px;
  margin-bottom: 50px;

  &__title,
  &__sectitle {
    @extend %heading-font;
    @media screen and (max-width: 1075px) {
      font-size: 24px;
    }

    &_description {
      width: 560px;
      padding-bottom: 10px;
      text-align: center;
      @extend %text-medium-font;
      @media screen and (max-width: 1075px) {
        font-size: 14px;
        width: 320px;
      }
    }

    &_content {
      width: 560px;
      text-align: center;
      @extend %text-medium-font;
      @media screen and (max-width: 1075px) {
        font-size: 14px;
        width: 320px;
      }
    }
  }

  &__sectitle {
    margin-top: 20px;
  }

  &__cards {
    width: 87%;
    &_cardCont {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;

      @media screen and (max-width: 1075px) {
        display: grid;
        justify-content: center;
      }
    }

    &_title {
      @extend %subtitle-font;
      @media screen and (max-width: 1075px) {
        font-size: 18px;
      }
    }

    &_text {
      margin: 30px 0;
      width: 400px;
      @extend %text-medium-font;
      @media screen and (max-width: 1075px) {
        font-size: 14px;
        width: 270px;
      }
    }

    &_btn {
      @extend %button-font;
      background-color: #41b619;
      border: none;
      height: 45px;
      padding: 0 30px;
      border-radius: 30px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-top: 20px;

      & > a {
        color: inherit;
        text-decoration: none;
      }

      &:hover {
        background-color: #262626;
      }
    }

    &_email {
      border: none;
      border-bottom: 1px #a5a5a5 solid;
      padding-bottom: 10px;
      margin-right: 20px;
      width: 240px;
      @extend %text-font;
      &:active,
      &:hover,
      &:focus {
        outline: 0;
        outline-offset: 0;
      }
    }

    &_img {
      @media screen and (max-width: 1075px) {
        display: grid;
        grid-row: 1/2;
        margin-bottom: 30px;
      }
    }
  }
}
