@import './../../../src/app/text-styles.scss';

.pagination__container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.pagination__button {
  border: none;
  background-color: var(--white);
  &:hover {
    opacity: 20%;
  }
  &:disabled {
    opacity: 20%;
  }
}

.pagination__text {
  @extend %pagination-font;
}
