@import '../globals.scss';

.practice__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5vw;
  width: 100%;
  min-width: 320px;
  max-width: 1440px;
}
.practice {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;
  color: $black;
  padding: 80px 40px 0px 40px;
}
.heading {
  font-family: 'Montserrat', sans-serif;
  color: $black;
  font-size: 32px;
  font-style: normal;
  line-height: 1.23;
  font-weight: 600;
  text-align: center;
  margin: 0;
}
@media (width < 960px) {
  .heading {
    padding: 5vw;
  }
  .practice {
    gap: 15vw;
    padding-top: 20px;
  }
  .practice__info {
    max-width: 100%;
  }
  .practice__container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-self: center;
    gap: 5vw;
  }
}
@media (width < 640px) {
  .heading {
    padding-top: 2vw;
    padding-bottom: 2vw;
  }
}
