@import '../text-styles';

.mainblock {
  display: flex;
  flex-direction: column;

  &__box,
  &__key {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__box {
    @media screen and (max-width: 756px) {
      flex-direction: column;
    }
  }

  &__key {
    @media screen and (max-width: 960px) {
      flex-direction: column;
    }
  }

  &__keywords {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-inline-end: 5px;
  }

  &__title {
    @extend %heading-font;
    position: relative;

    @media screen and (max-width: 960px) {
      font-size: 36px;
    }
  }

  &__title::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 63px;
    bottom: 0;
    width: 50px;
    height: 3px;
    background-color: #66bb37;
  }

  &__list {
    @extend %text-medium-font;
    padding-inline-start: 24px;

    @media screen and (max-width: 960px) {
      font-size: 17px;
    }
  }

  &__image {
    height: auto;
    width: 50%;
    max-width: 100%;
    margin-inline-start: 44px;
    object-fit: cover;

    @media screen and (max-width: 960px) {
      width: 100%;
      margin-inline-start: 0;
    }
  }

  &__sub {
    display: flex;
    flex-direction: column;
    margin: 8px 0 25px 5px;
    flex-wrap: wrap;
  }

  &__email {
    border: none;
    border-bottom: 1px #a5a5a5 solid;
    padding-bottom: 10px;
    width: 298px;
    resize: none;
    @extend %text-font;
    &:active,
    &:hover,
    &:focus {
      outline: 0;
      outline-offset: 0;
    }
  }

  &__btn {
    @extend %button-font;
    background-color: #41b619;
    border: none;
    height: 45px;
    padding: 0 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;

    &:hover {
      background-color: #262626;
    }
  }
}

.circle {
  display: flex;
  justify-content: flex-end;

  @media screen and (max-width: 756px) {
    justify-content: center;
  }

  @media (min-width: 756px) and (max-width: 960px) {
    justify-content: center;
  }

  &__image {
    border-radius: 50%;
    height: auto;
    width: 80%;
  }
}

.wrapper {
  width: 50%;
  margin-inline-end: 22px;
  padding: 0 40px;

  @media screen and (max-width: 756px) {
    width: 70%;
  }

  &__text {
    @extend %text-medium-font;
    font-size: 22px;
    white-space: pre-line;
    text-align: center;

    @media screen and (max-width: 960px) {
      font-size: 20px;
    }

    @media screen and (max-width: 756px) {
      font-size: 18px;
    }
  }
}
