@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

.body {
  min-width: 320px;
  max-width: 1440px;
  font-family: 'Montserrat';
}