@import '../text-styles';

.blog {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  color: var(--black);
  width: 100%;
}
.heading {
  @extend %heading-font;
  margin: 0px;
}
@media (width < 960px) {
  .heading {
    padding: 1vw;
  }
  .blog {
    gap: 5vw;
  }
}
